FIN_AI_SMTP_HOST=smtp.163.com
FIN_AI_SMTP_PORT=465
FIN_AI_SMTP_USER=qiujiahongde@163.com
FIN_AI_SMTP_PASS=请替换为163邮箱SMTP授权码
FIN_AI_SMTP_FROM=qiujiahongde@163.com
FIN_AI_SMTP_USE_SSL=true
FIN_AI_SUBSCRIBERS=qiujiahongde@163.com
# FIN_AI_SUBSCRIBERS_FILE=./subscribers.txt
