TEACHING_VIDEO_TTS_ENGINE=vibevoice
VIBEVOICE_MODEL=microsoft/VibeVoice-1.5B
VIBEVOICE_ENDPOINT=http://127.0.0.1:7860
# VIBEVOICE_TTS_CMD='python /path/to/vibevoice_tts.py --model {model} --text-file {text_file} --output {output} --voice-ref {voice_ref} --language {language}'
# VIBEVOICE_VOICE_REF=/absolute/path/to/authorized-reference.wav
# VIBEVOICE_SPEAKER_ID=
VIBEVOICE_LANGUAGE=zh
VIBEVOICE_AUDIO_FORMAT=wav
